doctype html
#attribute-listing
.panel.panel-default
  .panel-heading  Select to view or edit items listed below
table.table
  |{{#each this}}
  tr
    td
      a.item-view-link(href="#attribute/{{ id }}")  {{ name }}
    td
      a.item-edit-link(href="#attribute/{{ id }}/edit")  Edit
  |{{/each}}
