doctype html
#attribute-create.create-view
  .clear
  .panel.panel-default
    .panel-heading  Create new Attribute by completing all fields below and clicking the Save button
  .form-horizontal
    .form-group
      label.control-label.col-sm-2(for="name") name:
      .col-sm-8
        input#name.form-control(type="text",name="name",value="{{ name }}")
    .form-group
      label.control-label.col-sm-2(for="type") type:
      .col-sm-8
        input#type.form-control(type="text",name="type",value="{{ type }}")
    .form-group
      label.control-label.col-sm-2(for="length") length:
      .col-sm-8
        input#length.form-control(type="text",name="length",value="{{ length }}")
    .form-group
      label.control-label.col-sm-2(for="regex_pattern") regex:
      .col-sm-8
        input#regex_pattern.form-control(type="text",name="regex_pattern",value="{{ regex_pattern }}")
    .form-group
      .col-sm-2
      .checkbox.col-sm-8
        label(for="primary-key")
          input#is_primary_key(name="is_primary_key",type="checkbox","{{ checked is_primary_key }}")
          | is primary key:
    .form-group
      .col-sm-2
      .checkbox.col-sm-8
        label(for="unique")
          input#is_unique(name="is_unique",type="checkbox","{{ checked is_unique }}")
          | is unique:
  #edit-controls
    .col-sm-2
    .col-sm-8.text-right
      button.btn.btn-danger.delete(type="reset") Reset
      button.btn.btn-success.save-edit(type="button") Save
