<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="../assets/css/custom.css">
  <script data-main="../assets/js/tests-init" type="text/javascript" src="../assets/script/libs/require.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <header>
          <h1> Web Service Test Reporting</h1>
          <h2> Run test requests to determine functional status</h2>
        </header>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="all-results" class="table">
          <tr>
            <th>Pass/Fail </th>
            <th>%</th>
          </tr>
          <tr>
            <td>Passed</td>
            <td class="passed-tests"> </td>
          </tr>
          <tr>
            <td>FAILED</td>
            <td class="failed-tests">  </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <table id="results" class="table">
          <tr>
            <th>Entity (Resource)</th>
            <th>Method</th>
            <th>Successful</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>